@tailwind base;
@tailwind components;
@tailwind utilities;


.block1{
    width: 1920px;
    height: 920px;
    gap: 0px;
    border-radius: 0px 0px 80px 80px;
    opacity: 0px;
    background-color: #35A080;
}
.image-blur{
    clip-path: url('./Subtract bg.svg') ;
    backdrop-filter: blur(10px);
}
.Products-btn{
    width: 198px;
    height: 50px;
    padding: 16px 64px 16px 64px;
    border-radius: 37px 37px 37px 37px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
}

@media not all and (min-width: 900px) { 
    .mobile-image{
        margin-left: -1083px;
        border-radius: 0px 0px 80px 80px;  
    }
}

.background-image{
    background-image: url('/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.button-placement{
    top:70%;
    left:15%;
}
.text-big {
    top: 30%;
    left: 15%;
    font-size: 3.5vw; /* Responsive font size based on viewport width */
    line-height: 1.2; /* Adjust line height as needed */
}

/* Media query for small screens */

/* Media query for extra small screens */


/* Media query for small screens */
@media screen and (max-width: 768px) {
    .text-big {
        font-size: 4.5vw; /* Adjust font size for smaller screens */
        top: 20%; /* Adjust positioning for smaller screens */
    }
    .text-small {
        font-size: 2.2vw; /* Adjust font size for smaller screens */
        top: 50%; /* Adjust positioning for smaller screens */
    }
    .image-container{
        width:1024px ;
    }
    .image-res{
        margin-left: -23svw;
        margin-top: 60px;
    }
}

/* Media query for extra small screens */
@media screen and (max-width: 480px) {
    .image-container{
        width:1024px ;
    }
    .image-res{
        margin-left: -660px;
        margin-top: 60px ;
        transform: scale(1.15);
    }
}
