@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  top: -3rem;
  width: 100%;
  height: 600px;
}
.bloc2 {
  border-radius: 0 0 80px 0;
}

.footer-img {
  z-index: -999 !important;
}
.adress-logo {
  width: 280px;
  height: 80.58px;
}
.text-main-color {
  color: #527262;
}
.footer-title {
  font-family: "Urbanist", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}
.adress-content {
  font-family: "Urbanist", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  letter-spacing: -0.015em;
  text-align: left;
}
.social-media-text {
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: -0.015em;
  text-align: left;
}
.social-media-img {
  width: 40px;
  height: 40px;
}
.g-y-22 {
  row-gap: 1.375rem;
}
.g-y-logo {
  row-gap: 4.964rem;
}
.p-y-66 {
  padding-top: 2.125rem;
  padding-left: 3rem;
}
.m-l-8rem {
  margin-left: 8rem;
}
.p-t-67 {
  padding-top: 4.188rem;
}
.p-l-30 {
  margin-left: 1.875rem;
}
.p-t-155 {
  padding-top: 7.9rem;
  padding-right: 53rem;
}
.p-t-65 {
  padding-top: 6.5rem;
}
.p-t-28 {
  padding-top: 2.8rem;
}

.btn-color-main {
  background-color: #fff;
  color: #00b88f;
}
.btn-active-main {
  background-color: #00b88f;
  color: #fff;
}

.btn-color-main:hover {
  background-color: #fff;
  border: 1px solid #00b88f;
  color: #00b88f;
  -moz-transition: all 180ms ease-in;
  /* WebKit */
  -webkit-transition: all 180ms ease-in;
  /* Opera */
  -o-transition: all 180ms ease-in;
  /* Standard */
  transition: all 180ms ease-in;
}
.bg-main {
  background-color: #00b88f;
}

.w-450 {
  width: 10rem;
}
.flex-d {
  display: flex;
}
.br-80 {
  border-radius: 0px 0px 80px 0px;
}
.mr-7p {
  margin-right: 7%;
}
.w-225 {
  width: 15.95%;
}
.mr-12p {
  margin-right: 17.85% !important;
}
.w-80p {
  width: 90%;
}
.bloc4 {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bloc1 {
  height: 400px;
  width: 100% !important;
}

.bloc1-div {
  padding-right: 37.7%;
}
.bloc1-svg1 {
  padding-left: 5%;
}
.bloc3-svg5 {
  margin-top: 4px;
}
.bloc3 {
  height: 5.25rem;
  width: 18.3rem;
}
.footer-contact {
  padding-left: 20%;
  padding-top: 17%;
}
/*laptop ++ view   */

@media screen and (min-width: 1441px) {
  .mr-12p {
    margin-right: 12.55% !important;
  }
}
/*laptop L view   */

@media (min-width: 1025px) and (max-width: 1440px) {
  .mr-12p {
    margin-right: 12.8% !important;
  }
  .bloc3 {
    width: 17.6rem;
  }
  .bloc4 {
    height: 70px;
  }
  .margin-bloc1 {
    margin-left: 6.25rem !important;
    margin-top: 1.25rem !important;
  }
  .bloc1-div {
    padding-right: 26.06%;
  }
}
.footer-mobile-display {
  display: none !important ;
}
/* laptop view   */
@media (min-width: 769px) and (max-width: 1024px) {
  .bloc1 {
    height: 300px;
    width: 100% !important;
  }
  .margin-bloc1 {
    margin-left: 6.25rem !important;
    margin-top: -2rem !important;
    justify-items: end;
  }
  .mr-12p {
    margin-right: 15.2% !important;
  }
  .bloc4 {
    height: 60px;
  }
  .bloc4 p {
    font-size: 9px;
  }
  .w-225 {
    width: 10.9%;
  }
  .bloc1-div {
    padding-right: 0;
  }
  .margin-bloc1 svg {
    width: 300px;
    margin-right: 15%;
  }

  .contact-us-texts {
    width: 100% !important;
  }
  .m-l-8rem {
    margin-left: 3rem;
  }
  .contact-us-texts div {
    margin-bottom: -10% !important;
  }
  .contact-us-texts button {
    margin-top: -10% !important;
  }
  .bloc1-svg1 {
    padding-left: 6%;
  }
  .contact-text {
    gap: 0px !important;
  }
  .contact-title {
    font-size: clamp(2.125rem, 6vw, 1px) !important;
    font-weight: 500 !important;
    line-height: clamp(47px, 7vw, 40px) !important;
  }
  .g-y-logo {
    row-gap: 1.5rem;
  }
  .footer-contact {
    padding-left: 10%;
    padding-top: 18%;
  }
  .bloc3 {
    height: 5.25rem;
    width: 10.9rem;
  }
  .adress-content {
    font-size: 19px;
  }
}

/*tab view   */

@media (min-width: 426px) and (max-width: 768px) {
  .bloc1 {
    height: 280px;
  }
  .mr-12p {
    margin-right: 23.2% !important;
  }
  .bloc4 {
    height: 60px;
  }
  .w-225 {
    width: 10.9%;
  }
  .bloc2 {
    width: 39.1% !important;
  }
  .bloc1 svg {
    width: 250px;
    height: 250px;
  }
  .forgot-tab{
    position: relative;
    left: 10%;

  }
  .bloc3 {
    height: 5.25rem;
    width: 6.8rem;
  }
  .bloc4 {
    width: 100%;
  }
  .margin-bloc1 {
    padding-left: 15% !important;
    padding-top: 1rem;

    margin-left: 0 !important;
    margin-top: 0 !important;
  }
  .contact-us-texts {
    width: 150%;
  }


  .mr-12p {
    margin-right: 18.2% !important;
  }
  .g-y-logo {
    row-gap: 0.5rem;
  }
  .adress-content {
    font-size: 16px;
    font-weight: 800;
    letter-spacing: -0.015em;
  }
  .m-l-8rem {
    margin-left: 0rem;
  }
  .forgot-tab {
    width: 24%;
  }
}

.social-media-img-tab,
.footer-mobile-display {
  display: none;
}

.contact-us-texts {
  width: 250%;
}
.contact-us-button {
  width: 214px;
  height: 50px;
  padding: 16px 64px 16px 64px;
  gap: 10px;
  opacity: 0px;
}
.contact-usdesc3 {
  width: 70%;
}
.margin-bloc1 {
  margin-left: 9.7rem;
  margin-top: 1.25rem;
}
.mobile-contactinf {
  width: 20rem;
  border-radius: 0 40px 40px 40px;
}

.mobile-termsdiv {
  @apply mx-3;
  padding-left: 17px;
}
.mobile-terms-text {
  height: 90px;
  width: 248px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.mobile-contactinf {
  width: 25rem;
  border-radius: 0 40px 40px 40px;
}
@media (min-width: 320px) and (max-width: 426px) {
  .footer-mobile-display {
    display: inline !important;
  }
  .bloc3-svg5,
  .bloc3-svg3,
  .bloc3-svg4,
  .bloc3 {
    display: none;
  }
  .bloc2 {
    background-color: #f0f9f5;
  }
  .bloc1-div,
  .bloc4 {
    border-radius: 40px 40px !important;
  }
  .margin-bloc1 {
    margin-left: 0;
    margin-top: 0;
    display: flex !important;
    flex-direction: column !important;
  }
  .margin-bloc1 svg {
    width: 300px;
    height: 170px;
    @apply my-10 mx-5;
  }
  .margin-bloc1 h2 {
    line-height: 40px;
    font-size: 32px;
  }
  .contact-usdesc3 {
    width: 50%;
  }
  .bloc1 {
    height: 460px;
    width: 100% !important;
  }
  .contact-us-button {
    width: 55%;
    height: 40px;
    padding: 0;
  }
  .contact-text {
    gap: 12px;
  }
  .bloc2,
  .bloc4 {
    display: none;
  }
  .m-l-8rem {
    margin-left: 0rem;
  }
  .g-y-logo {
    row-gap: 20px;
  }
  .adress-content {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: -0.015em;
  }
  .contentfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @apply items-start;
  }
  .g-y-22 {
    row-gap: 0.5rem;
  }
}
@media (min-width: 377px) and (max-width: 426px) {
  .margin-bloc1 svg {
    width: 333px;
    height: 270px;
    margin-top: 0;
    margin-bottom: -9px;
    margin-left: 1.8rem;
    margin-right: 1.25rem;
  }
}
/* mobile M */
@media (min-width: 321px) and (max-width: 376px) {
  .margin-bloc1 svg {
    width: 233px;
    height: 240px;
    margin-top: 0;
    margin-bottom: -9px;
    margin-left: 1.5rem;
    margin-right: 0;
  }
  .mobile-contactinf {
    width: 22rem !important;
  }

  .termsc {
    margin: 0 !important;
  }
  .mobile-terms-text {
    width: 198px;
  }
  .mobile-terms-text p {
    @apply text-xs;
  }
  .mobile-termsdiv {
    margin-right: 0;
  }
}

@media (min-width: 3070px) {
  .bloc3 {
    width: 45vh !important;
  }
}
