/* Existing styles */
.btns-ourprocess button {
  padding: 12px 24px;
}

.btns-ourprocess {
  overflow: hidden;
}

.fade-opacity {
  transition: opacity 0.3s ease-in-out;
}

.svg-container {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.svg-container.active {
  opacity: 1;
  transform: translateX(0);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.btns-ourprocess::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.btns-ourprocess {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Responsive Adjustments */
@media screen and (max-width: 426px) {
  .btns-ourprocess {
    overflow: scroll; /* Ensure scroll is enabled */
    width: 100%; /* Adjust as needed */
  }

  .btns-ourprocess button {
    width: 100%; /* Adjust as needed */
  }

  .svg-container {
    width: 100%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
  }
  /* Example CSS to set SVG dimensions */
  .svg-container svg {
    width: 100%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
  }
  /* Hide scrollbar for mobile devices */
  .btns-ourprocess::-webkit-scrollbar {
    display: none;
  }

  .btns-ourprocess {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
.desc-ourprocess {
  color: #00b88f;
}
.btn-discover-process {
  background-color: #00b88f;
  color: white;
  width: 12rem;
}
