@tailwind base;
@tailwind components;
@tailwind utilities;

.company-container {
  height: 698px;
  background-color: #cbe8de;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.company-text {
  width: 20%;
  position: relative;
  top: -220px;
  left: -21%;
}
/* CSS for PC to Tablet Version */
.pc-tab-container {
  display: block; /* Make it a block element */
}

.company-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.company-text {
  margin-left: 20px;
}

.text-desc3-ourcompany {
  font-size: 24px !important;
  font-weight: bold !important;
}

.text-desc2 {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 10px;
}

/* CSS for Mobile Version */
.mobile-container {
  display: none!important; /* Hide it by default */
}

/* Media Query for Mobile Devices */
@media (max-width: 426px) {
  .pc-tab-container {
    display: none; /* Hide PC to Tablet Version */
  }

  .mobile-container {
    display: block!important; /* Show Mobile Version */
    text-align: center;
    padding: 20px;
  }
}
.btn-company {
  color: white;
  background-color: #00b88f;
  width: 197px;
  height: 50px;
  border-radius: 37px;
  left: -7%;
  top: 72.4%;
}
.btn-company:hover {
  background-color: white;
  color: #00b88f;
  border: 1px solid #00b88f;
}
@media screen and (min-width: 1025px) and (max-width: 1455px) {
  .btn-company {
    left: -7%;
    top: 71.6%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .btn-company {
    left: -7%;
    top: 62.5%;
    width: 15%;
  }
  .company-text {
    width: 33%;
    position: relative;
    top: -250px;
    left: -22%;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  .btn-company {
    left: -7%;
    top: 58.2%;
    width: 14%;
    height: 5%;
  }
  .text-desc3-ourcompany {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
  }

  .company-text p {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
  }
  .company-text {
    width: 28%;
    position: relative;
    top: -260px;
    left: -22%;
  }
}
.btn-company-mobile {
  color: white;
  background-color: #00b88f;
  width: 197px;
  height: 50px;
  border-radius: 37px;
}
.btn-company-mobile:hover {
  background-color: white;
  color: #00b88f;
  border: 1px solid #00b88f;
}

/* Small (S) devices */
@media (max-width: 321px) {
  .btn-company-mobile {
    top: 17.8rem;
    width: 250px;
    height: 40px;
    left: 0;
  }
}

/* Medium (M) devices */
@media (min-width: 322px) and (max-width: 376px) {
  .btn-company-mobile {
    top: 21.2rem;
    width: 93%;
    height: 50px;
    left: 0;
  }
}

/* Large (L) devices */
@media (min-width: 377px) and (max-width: 426px) {
  .btn-company-mobile {
    top: 390px;
    width: 354px;
    height: 56px;
    left: 0;
  }
}
