.tablist {
  padding-top: 1.25rem;
  padding-left: 0.5rem;
  border-top-left-radius: 61px;
  border-bottom-left-radius: 61px;
  color: white;
  background-color: var(--main-color);
  height: 33.75rem;
  display: flex;
  gap: 16px;
  padding-bottom: 1rem;
  overflow-x: auto;
}

.tablist::-webkit-scrollbar {
  display: none;
}

.tablist {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 768px) {
  .tablist {
      padding-top: 1rem;
      padding-left: 1rem;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      height: auto;
      flex-direction: column;
      gap: 4px;
  }
}

.tab {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2.313rem;
  margin-left: 1.25rem;
  margin-bottom: 30rem;
  border: 2px solid white;
  font-weight: medium;
  white-space: nowrap;
  color: var(--neutral-500);
}

.tab:hover:enabled {
  background-color: var(--primary-100);
  color: var(--primary-800);
}

.tab:active:enabled {
  background-color: var(--primary-200);
  color: var(--primary-900);
}

.tab:disabled {
  color: var(--disabled-500);
}

.tab:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 4px rgb(255,255,255);
}

@media (max-width: 768px) {
  .tab {
      padding: 1rem 2rem;
      margin-left: 1rem;
      margin-bottom: 10rem;
  }
}