.title-prod{
    top: -71px;
}
.product-menu {
    width: 100dvw;
    height: 328px;
    border-radius: 0px 0px 80px 80px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    background-color: #00B88F;
    /* animation: drop 0.5s ease-out; */
}
.imR-Container {
    width: 100dvw;
    height: 328px;
    border-radius: 0px 0px 80px 80px;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    background-color: #00B88F;
    /* animation: drop 0.5s ease-out; */
}
.ImgR{

border-radius: 162.3px 0px 80px 80px;
box-sizing: border-box;

}
.ImgL{
    border-radius: 0px 162.3px 80px 80px;
    box-sizing: border-box;

}
.imL-Container{
    height: 328px;
    border-radius: 0px 162.3px 80px 80px;
    box-sizing: border-box;
    border: 0px 0px 1px 0px;
    opacity: 0px;
    background-color: #00B88F;
    
}