@tailwind base;
@tailwind components;
@tailwind utilities;
.contact-us {
  border-radius: 80px 80px 0px 80px;
  color: #fff;
  width: 80vh;
  height: 50%;
  padding: 3% 0 0 0%;
  border-radius: 80px 80px 0px 80px;
}


.contact-text {
  gap: 4px;
}

.contact-text p {
  opacity: 0.8;
}
.contact-us button {
  width: 214px;
  height: 50px;
  padding: 16px 64px 16px 64px;
  gap: 10px;
  border-radius: 37px 37px 37px 37px;
}

.grid-col-template{
  grid-template-columns: 1fr 1fr;
}

.svg-potion-laptop {
  top: 23vh;
  left: 23vh;
}

.contact-text-position{
  top: 23vh;
  left: 27vh;

}
@media screen and (min-width:1920px) {
  .svg-potion-laptop {
    top: 60px;
    left: 28vh;
    width: 96%;
    height: 39vh;
}
  
.contact-text-position {
  top: 60px;
  left: 71vh;
  width: 100%;
}
}
@media screen and (min-width:1024px) and (max-width:1441px){
  .bg-footer-svg {
    background-size: 96%;
  }
}