.tabis{
  margin-left: 100px;
  width:1000px;
  border-radius: 80px;
  background-size: fit-content;

}
@media screen and (max-width: 768px) {
  .tabis{
    transform: scale(0.7);
    margin-left: -21px;
  }
  
}
.moraba3{
  position: absolute;
  bottom: 0.3%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  width: 378px;
  height: 200px;
  left: 4.5%;
  border-radius: 0px 40px 0px 56px;
  /* border: 1px solid;
  
  border-color: linear-gradient(192deg, rgba(249,249,251,1) 0%, rgba(255,255,255,0) 100%); ; */
}
.mostatil{
  position: absolute;
    bottom: 0%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    width: 577.124px;
    height: 80px;
    left: 42.3%;
    border-radius: 0px 0px 58px 0px;
  /* border-top: 1px solid;
  border-top-color: aliceblue;   */
}
.element {
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px; /* Border radius for other corners */
  position: relative;
}

.element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px; /* Adjust the width to control the size of the inverted corner */
  height: 20px; /* Adjust the height to control the size of the inverted corner */
  background-color: #fff; /* Set the background color to match the container */
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  transform: rotate(-45deg);
}
.imaaage{
  bottom: -12%;
  left:40%;
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .tabis{
    transform: scale(0.8);
    margin-left: 10px;
  }
  .imaaage
  {
    top: 10%;
    left:40% ;
  } 
}
.curved-corner-bottomright:before {
  background-color: rgba(255, 255, 255, 0);
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  border-radius: 30%;
  bottom: 0;
  right: 100;
  box-shadow: -100px 100px 0px 0px rgba(255, 255, 255, 0.1);
}
.container-corner{
  position: absolute;
  overflow: hidden;
  left: 423px;
  top :255.1px;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0);
}