.tablist {
  padding-top: 1.25rem;
  padding-left: 0.5rem;
  border-top-left-radius: 61px;
  border-bottom-left-radius: 61px;
  color: white;
  height: 33.75rem;
  display: flex;
  gap: 16px;
  padding-bottom: 1rem;
  overflow-x: auto;
}

.tablist::-webkit-scrollbar {
  display: none;
}

.tablist {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 768px) {
  .tablist {
      padding-top: 1rem;
      padding-left: 1rem;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      height: auto;
      flex-direction: column;
      gap: 4px;
  }
}

.tab {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2.313rem;
  margin-left: 1.25rem;
  margin-bottom: 30rem;
  border: 2px solid white;
  font-weight: medium;
  white-space: nowrap;
  color: var(--neutral-500);
}

.tab:hover:enabled {
  background-color: var(--primary-100);
  color: var(--primary-800);
}

.tab:active:enabled {
  background-color: var(--primary-200);
  color: var(--primary-900);
}

.tab:disabled {
  color: var(--disabled-500);
}

.tab:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 4px rgb(255,255,255);
}

@media (max-width: 768px) {
  .tab {
      padding: 1rem 2rem;
      margin-left: 1rem;
      margin-bottom: 10rem;
  }
}
.tab-details{
  bottom: 15%;
  /* box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18 );
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px ); */
}
.tabis{
  margin-left: 100px;
  width:1000px;
  border-radius: 80px;
  background-size: fit-content;

}
@media screen and (max-width: 1024px) {
  .tabis{
    transform: scale(0.8);
  }
  .moraba3{
    transform: scale(0.8);
    top:56%;
    margin-left: -100px;
    border-radius: 0px;
   }
   .mostatil{
    top:79%;
    transform: scale(1.108);
    margin-left: 23px;
    
   
  }
}
.moraba3{
  position: absolute;
  bottom:28.3%;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  width: 350px;
  height: 200px;
  left: 6.5%;
  border-radius: 0px 40px 0px 30px;
  /* border: 1px solid;
  
  border-color: linear-gradient(192deg, rgba(249,249,251,1) 0%, rgba(255,255,255,0) 100%); ; */
}
.mostatil{
  position: absolute;
  bottom:28.3%;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );
  width: 651.124px;
  height: 80px;
  left: 29.25%;
  border-radius: 0px 70px 60px 0px;
  @media screen and (max-width: 1024px) {
    border-radius: 0px 0px 60px 0px;
}
  /* border-top: 1px solid;
  border-top-color: aliceblue;   */
}
.element {
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px; /* Border radius for other corners */
  position: relative;
}

.element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px; /* Adjust the width to control the size of the inverted corner */
  height: 20px; /* Adjust the height to control the size of the inverted corner */
  background-color: #fff; /* Set the background color to match the container */
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  transform: rotate(-45deg);
}
