@import url('App.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Additional styles */
:root {
  background-color: #f0f9f5;
  margin: 0;

  font-family: "Urbanist", sans-serif;

}

