.tablist {
    @apply pt-[1.25rem] pl-[0.5rem] rounded-t-[61px] rounded-bl-[61px] text-white bg-main-color h-[33.75rem] flex space-x-[16px] pb-1 overflow-x-auto;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    @media (max-width: 768px) {
        @apply pt-1 pl-1 rounded-t-10 rounded-bl-10 h-auto flex-col space-x-0 space-y-4;
    }
}

.tab {
    @apply px-4 py-2 flex flex-col justify-center rounded-[2.313rem] ml-[1.25rem] mb-[30rem] border-2 border-white font-medium whitespace-nowrap text-neutral-500 hover:enabled:bg-primary-100 hover:enabled:text-primary-800 active:enabled:bg-primary-200 active:enabled:text-primary-900 disabled:text-disabled-500 focus-visible:outline focus-visible:-outline-offset-2 focus-visible:shadow-[inset_0_0_0_4px_rgb(255,255,255)];

    @media (max-width: 768px) {
        @apply px-2 py-1 ml-1 mb-10;
    }
}